<div id="contents">
  <section id="left">
    <%= link_to regist_path, class: "a1 ah" do %>
      <h2>単語帳</h2>
      <%= image_submit_tag("book-white.png", class: "aa1") %>
    <% end %>
    
    <%= link_to todolist_path, class: "a2 ah" do%>
      <h2>予定表</h2>
      <%= image_submit_tag("todo-white.png", class: "aa1") %>
    <% end %>

    <%= link_to diary_path, class: "a3 ah" do %>
    <h2>日記帳</h2>
    <%= image_submit_tag("diary-white.png", class: "aa1") %>
    <% end %>

    <%= link_to "#", class: "a4 ah" do %>
    <h2>投稿閲覧</h2>
    <%= image_submit_tag("search-white.png", class: "aa1") %>
    <% end %>
  </section>
  <section id="right">
    <% if logged_in? %>
      <div class="login-right">
        <%= gravatar_for @user %>
        <h4>ようこそ、<%= @user.name %>さん</h4>
      </div>
    <% else %>
      <ul>
        <li><%= link_to "ログイン", login_path, class: "b1" %></li>
        <li><%= link_to "アカウント作成", signup_path, class: "b2" %></li>
      </ul>
    <% end %>
  </section>
</div>

<footer id="footer">
  <ul>
    <li><%= link_to "Home", "#" %></li>
    <li><%= link_to "Log in", "#" %></li>
    <li><%= link_to new_contact_path( user_id: current_user.id ) do %>
    お問い合わせ
    <% end %></li>
  </ul>
</footer>
