<%= render "searches/form" %>

<div id="contents">
  <section id="left">
    <ul>
      <li><%= link_to "単語作成", current_user, class: "a1" %></li>
      <li><%= link_to "単語閲覧", "#", class: "a2" %></li>
      <li><%= link_to "投稿作成", diary_path, class: "a3" %></li>
      <li><%= link_to "投稿閲覧", "#", class: "a4" %></li>
    </ul>
  </section>
  <section id="right">
    <ul>
      <li><%= link_to "ログイン", login_path, class: "b1" %></li>
      <li><%= link_to "アカウント作成", signup_path, class: "b2" %></li>
    </ul>
  </section>
</div>

<footer id="footer">
  <ul>
    <li><%= link_to "Home", "#" %></li>
    <li><%= link_to "Log in", "#" %></li>
    <li><%= link_to "お問い合わせ", "#" %></li>
  </ul>
</footer>


