<div id="contents">
  <section id="left">
    <ul>
      <li><%= link_to "単語帳", regist_path, class: "a1" %></li>
      <li><%= link_to "予定表", todolist_path, class: "a2" %></li>
      <li><%= link_to "日記帳", diary_path, class: "a3" %></li>
      <li><%= link_to "投稿閲覧", "#", class: "a4" %></li>
    </ul>
  </section>
  <section id="right">
    <% if logged_in? %>
      <div class="login-right">
        <ul>
          <li><%= gravatar_for @user %></li>
          <li><h4>ようこそ、<%= @user.name %>さん</h4></li>
        </ul>
      </div>
    <% else %>
      <ul>
        <li><%= link_to "ログイン", login_path, class: "b1" %></li>
        <li><%= link_to "アカウント作成", signup_path, class: "b2" %></li>
      </ul>
    <% end %>
  </section>
</div>

<footer id="footer">
  <ul>
    <li><%= link_to "Home", "#" %></li>
    <li><%= link_to "Log in", "#" %></li>
    <li><%= link_to "お問い合わせ", "#" %></li>
  </ul>
</footer>
