<%= form_with model: @tip, url: { action: :update }, html: { class: 'tipeditForm' }, local: true do |f| %>
  <% if @tip.errors.any? %>
    <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
  <% end %>
  <h2>カード情報の変更</h2>
  <div class="tipeditForm_title">
    <%= f.label :"カード名" %>
    <%= f.text_field :title, required: true, class: "tipform", placeholder: "カード名" %>
  </div>
  <div class="tipeditForm_memo">
    <%= f.label :"メモ" %>
    <%= f.text_area :memo, class: "tipform", placeholder: "詳細" %>
  </div>

  <div class="tipeditform">
    <label>リスト名</label>
    <%= select :tip,
    :list_id,
    @lists.map { |l| [l.title, l.id] },
    {},
    { class: "form-control" } %>
  </div>

  <div class="text-center"><%= f.submit "更新する", class: "btn" %>
  </div>
<% end %>
