<%= form_with model: @tip, url: { action: :create }, html: { class: 'tipnewForm' }, local: true do |f| %>
  <%= f.hidden_field :list_id, value: @list.id %>
  <% if @tip.errors.any? %>
    <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
  <% end %>
  <div class="tipnewForm_title">
    <%= f.label :"カード名" %>
    <%= f.text_field :title,
                 autofocus: true,
                 class: "tipform",
                 required: true,
                 placeholder: "カード名" %>
  </div>
  <div class="tipnewForm_memo">
    <%= f.label :"メモ" %>
    <%= f.text_area :memo, autofocus: true, class: "tipform", placeholder: "詳細" %>
    <div class="text-center"><%= f.submit "作成する", class: "btn" %></div>
  </div>
<% end %>
