<div id="card-form">
  <%= form_with(model: @card) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="front">
      <%= f.text_area :front,
                  placeholder: "単語を入力...",
                  size: "35x4",
                  style: "font-size: 16px;" %>
    </div>
    <div class="back">
      <%= f.text_area :back,
                  placeholder: "単語の意味を入力...",
                  size: "35x10",
                  style: "font-size: 16px;" %>
    </div>
    <%= f.submit "単語を作成", class: "btn btn-primary" %>
  <% end %>
</div>
