<%= form_with(model: @contact, local: true) do |f| %>
  <div class="c-content">
    <h2>
      お問い合わせフォーム
    </h2>
    <div class="correct-msg-box">
      <% if @contact.errors.any? %>
        <div id="error_explanation">
          <ul><% @contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="correct-msg-main">
        <div class="contact-form">
          <div class="correct-text-field">
            <%= f.label "お名前" %>
            <%= f.text_field :name, placeholder: "お名前", class: "input-form" %>
          </div>
          <div class="correct-text-field">
            <%= f.label "お問合せ内容" %>
            <%= f.text_area :content,
                        placeholder: "お問合せ内容を入力してください",
                        class: "input-form",
                        size: "50x10" %>
          </div>
          <p>３営業日以内に返信いたします。</p>
          <p>また、お問い合わせ頂いた内容によっては、返信いたしかねる場合がございますのでご了承ください。</p>

          <div class="send-btn-contents">
            <div class="register-btn">
              <%= link_to "もどる", root_path, class: "btn root" %>
            </div>
            <div class="register-btn">
              <%= f.button type: "submit", class:"btn c-btn" do %>
                送信
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
