<div id="card-feed">
  <li id="card-<%= card.id %>">
    <div class="cc">
      <span class="front"><%= card.front %></span>
      &nbsp;:&nbsp;
      <span class="back"><%= card.back %></span>
    </div>

    <div class="timestamp">
      <%= time_ago_in_words(card.created_at) %>
      前に作成
    </div>

    <div class="cc-sub">

      <div class="dg">
        <div class="good">
          <% if current_user.already_liked?(card) %>
            <%= button_to card_like_path(card, id: card.id), class: "button_to-btn", method: :delete do %>
              <%= image_submit_tag("star-solid.svg", class: "bk") %>
            <% end %>
          <% else %>
            <%= button_to card_likes_path(card), class: "button_to-btn" do %>
              <%= image_submit_tag("star-regular.svg", class: "bk") %>
            <% end %>
          <% end %>
        </div>

        <% if current_user?(card.user) %><%= link_to card, class: "delete",
          data: {
            "turbo-method": :delete,
            turbo_confirm: "本当に削除しますか?"
          } do %>
            <%= image_submit_tag("trash-solid.svg", class: "bk") %>
          <% end %>
        <% end %>

      </div>
    </div>
  </li>
</div>
