<h1>こちら、todoリスト作成ページです</h1>
<%= link_to "リストを作成する", new_list_path %>
<% @lists.each do |list| %>
  <div class="list">
    <div class="list_header">
      <h2 class="list_header_title"><%= list.title %></h2>
      <%= link_to "編集する", edit_list_path(list) %>
      <%= link_to "削除する",
      list,
      data: {
        "turbo-method": :delete,
        turbo_confirm: "You sure?"
      } %>
    </div>
  </div>

  <% list.tips.each do |tip| %>
    <%= link_to list_tip_path(list, tip), class:"cardDetail_link" do %>
      <div class="tip">
        <h3 class="tip_title"><%= tip.title %></h3>
        <% if tip.memo.size > 0 %>
          <div class="tip_detail"><i class="fas fa-bars">#</i></div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= link_to "さらにカードを追加", new_list_tip_path(list), class: "addCard_link" %>
<% end %>
