<header id="header">
  <h1 class="logo">
    <%= link_to "e-note", root_path, { class: "main-logo" } %>
  </h1>
  <% if logged_in? %>
    <ul id="login-header" class="login-header">
      <li><%= link_to "プロフィール", current_user %></li>
      <li><%= link_to "アカウント情報変更", edit_user_path(current_user) %></li>
      <li>
        <%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete } %>
      </li>
    </ul>
  <% else %>
    <nav class="navbar">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Log in", "#" %></li>
        <li><%= link_to "利用規約", "#" %></li>
      </ul>
    </nav>
  <% end %>
</header>
